body {
	background: url(images/fon.jpg);						/*картинка фона*/
	background-size: cover;								    /*размер фона*/
}
h1 {														/*заголовок*/
	color: #2B2859;											/*цвет текста*/
	text-align: center;										/*центровка текста*/
	font-size: 2em;											/*размер текста*/
	font-family: 'Lateef', cursive;							/*стиль шрифта*/
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
	background-color: rgba(0, 139, 139,.9);					/*цвет подложки*/
	border-radius: 70px;									/*закругление краев*/
}
.layout p {													/*текст*/
	color: #2B2859;
	font-family: 'Lateef', cursive;
	font-size: 1.5em;
	line-height: 100%;
}
IMG.displayed {												
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2 {														/*заголовок абзаца*/
	font-size: 1.5em;
	color:#2B2859;
	font-family: 'Lateef', cursive;
}
 h3{
	border-bottom: 5px rgba(255,222,173,.5) dotted;         /*нижняя граница элемента*/
	padding: 0 0 20px 50px;
	font-size: 1.5em;
	color: #2B2859;
	font-family: 'Lateef', cursive;
	text-align: center;
}